<div class="film-container">
  <!-- Form per aggiungere un nuovo film -->
  <div>
    <h2>Aggiungi un nuovo film</h2>
    <form #filmForm="ngForm" (ngSubmit)="addFilm()">
      <input type="text" name="titolo" [(ngModel)]="newFilm.titolo" placeholder="Titolo" required>
      <input type="text" name="regista" [(ngModel)]="newFilm.regista" placeholder="Regista" required>
      <input type="number" name="annoUscita" [(ngModel)]="newFilm.annoUscita" placeholder="Anno di uscita" required>
      <select name="genere" [(ngModel)]="newFilm.genere" required>
        <option *ngFor="let genere of genereOptions" [value]="genere">{{ genere }}</option>
      </select>
      <textarea name="descrizione" [(ngModel)]="newFilm.descrizione" placeholder="Descrizione" required></textarea>
      <input type="number" name="valutazione" [(ngModel)]="newFilm.valutazione" placeholder="Valutazione">
      <button type="submit">Aggiungi Film</button>
    </form>
  </div>

  <div>
    <h2>Ricerca Film</h2>
    <input type="text" [(ngModel)]="searchTerm" placeholder="Cerca per titolo" (input)="searchFilms()">
  </div>
  
  <!-- Lista dei film -->
  <div *ngFor="let film of films" class="film-card">
    <h3>{{ film.titolo }} ({{ film.annoUscita }})</h3>
    <p><strong>Regista:</strong> {{ film.regista }}</p>
    <p><strong>Genere:</strong> {{ film.genere }}</p>
    <p><strong>Descrizione:</strong> {{ film.descrizione }}</p>
    <p *ngIf="film.valutazione"><strong>Valutazione:</strong> {{ film.valutazione }}</p>
    <button class="deletebtn" (click)="deleteFilm(film.id!)">Elimina</button>
    <button class="modifybtn" (click)="editFilm(film)">Modifica</button>
  </div>

  <!-- Modale per la modifica del film -->
  <div *ngIf="selectedFilm" class="modal-background">
    <div class="modal-content">
      <h2>Modifica Film</h2>
      <form (ngSubmit)="updateFilm()">
        <label for="titolo">Titolo:</label>
        <input type="text" id="titolo" [(ngModel)]="selectedFilm.titolo" name="titolo" required>

        <label for="regista">Regista:</label>
        <input type="text" id="regista" [(ngModel)]="selectedFilm.regista" name="regista" required>

        <label for="annoUscita">Anno di Uscita:</label>
        <input type="number" id="annoUscita" [(ngModel)]="selectedFilm.annoUscita" name="annoUscita" required>

        <label for="genere">Genere:</label>
        <select id="genere" [(ngModel)]="selectedFilm.genere" name="genere" required>
          <option *ngFor="let genere of genereOptions" [value]="genere">{{ genere }}</option>
        </select>

        <label for="descrizione">Descrizione:</label>
        <textarea id="descrizione" [(ngModel)]="selectedFilm.descrizione" name="descrizione" required></textarea>

        <label for="valutazione">Valutazione:</label>
        <input type="number" id="valutazione" [(ngModel)]="selectedFilm.valutazione" name="valutazione" min="0" max="10">

        <div>
          <button type="submit">Aggiorna</button>
          <button type="button" (click)="cancelEdit()">Annulla</button>
        </div>
      </form>
    </div>
  </div>
</div>
